@font-face {
    font-family: Jakarta;
    src: url('/public/fonts/PlusJakartaSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Jakarta;
    src: url('/public/fonts/PlusJakartaSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Jakarta;
    src: url('/public/fonts/PlusJakartaSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
